<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title>Flexiston 的评论管理后台</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>

    <div class="sign-in-wrap">
        <p class="title">Flexiston 的评论管理后台</p>
        <form method="post" action="/login" class="gh-signin">
            <input tabindex="1" name="username" placeholder="用户名" autofocus="" type="text" class="gh-input">
            <input tabindex="2" name="password" placeholder="密码" type="password" class="password gh-input ember-view">

            <input tabindex="3" type="submit" class="login-button" value="登录">
        </form>
        <div class="footer">
            <p>Back To <a href="https://flesx.cn">Flexiston's Blog</a></p>
            <%- INFO %>
        </div>
</body>

</html>